
.contact-form {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 16px auto;
  padding: 16px;
  min-height: 350px;
  
}
.contact-form label {
  display: block;
  margin: 8px 0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

.contact-form button[type="submit"] {
  background-color: pink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block; 
  margin-left: auto;
}

.contact-form button[type="submit"]:hover {
  background-color: gray;
}



footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
  